In [1]:
import pandas as pd

In [46]:
df = pd.DataFrame({'Country':["A","B","C"], 'Popul':[15,10,300]})

In [47]:
df

  Country  Popul
0       A     15
1       B     10
2       C    300

In [48]:
df.index = ['KZ', 'RU','USA']
df.index.name = 'Country Code'

In [49]:
df

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10
USA                C    300

In [11]:
df.iloc[0]

Country     A
Popul      15
Name: KZ, dtype: object

In [14]:
df.loc[['RU', 'USA'], 'Popul']

Country Code
RU      10
USA    300
Name: Popul, dtype: int64

In [16]:
df.iloc[0:2:]

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10

In [18]:
df[df.Popul>12]

             Country  Popul
Country Code
KZ                 A     15
USA                C    300

In [50]:
t = df[df.Country=="C"]
t.Popul +=5

In [51]:
df = df.append(t)

In [52]:
df

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10
USA                C    300
USA                C    305

In [55]:
df['Popul'].value_counts(normalize=True)

15     0.25
300    0.25
10     0.25
305    0.25
Name: Popul, dtype: float64