In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Country':["A","B","C"], 'Popul':[15,10,300]})

In [3]:
df

  Country  Popul
0       A     15
1       B     10
2       C    300

In [7]:
df.index = ['KZ', 'RU','USA']
df.index.name = 'Country Code'

In [8]:
df

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10
USA                C    300