In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Country':["A","B","C"], 'Popul':[15,10,300]})

In [3]:
df

  Country  Popul
0       A     15
1       B     10
2       C    300

In [4]:
df.index = ['KZ', 'RU','USA']
df.index.name = 'Country Code'

In [5]:
df

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10
USA                C    300

In [6]:
df.iloc[0]

Country     A
Popul      15
Name: KZ, dtype: object

In [7]:
df.loc[['RU', 'USA'], 'Popul']

Country Code
RU      10
USA    300
Name: Popul, dtype: int64

In [8]:
df.iloc[0:2:]

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10

In [9]:
df[df.Popul>12]

             Country  Popul
Country Code
KZ                 A     15
USA                C    300

In [10]:
t = df[df.Country=="C"]
t.Popul +=5

/Users/yurymikhno/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [11]:
df = df.append(t)

In [12]:
df

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10
USA                C    300
USA                C    305

In [13]:
df['Popul'].value_counts(normalize=True)

15     0.25
300    0.25
10     0.25
305    0.25
Name: Popul, dtype: float64

In [14]:
df

             Country  Popul
Country Code
KZ                 A     15
RU                 B     10
USA                C    300
USA                C    305

In [23]:
df_1 = pd.DataFrame({'Country':["A","B","C"], 'Popul':[15,10,300]})

In [26]:
result = pd.concat([df,df_1],axis=1)

In [27]:
result

  Country  Popul Country  Popul
0       A     15       A     15
1       B     10       B     10
2       C    300       C    300

In [3]:
df = pd.DataFrame({'A': [[1, 2, 3], 'foo', [], [3, 4]], 'B': 1})

In [4]:
df

           A  B
0  [1, 2, 3]  1
1        foo  1
2         []  1
3     [3, 4]  1

In [5]:
df.explode('A')

AttributeError: 'DataFrame' object has no attribute 'explode'

In [2]:
pd.__version__

'0.24.2'